# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause
"""Test data for the accumulator and splitter tests."""

from __future__ import annotations

import itertools

from typing import NamedTuple


class Decoded(NamedTuple):
    """The result of decoding a couple of characters."""

    length: list[int]
    length_raw: list[int]
    length_lines: list[int]
    lines: list[int]


class DecodeCase(NamedTuple):
    """A test case for decoding a sequence of bytes."""

    data: list[int]
    enc: dict[str, Decoded]


TEST_DATA = [
  {% for dec in decode %}
    DecodeCase(
        data={{ dec.data | py_hex_array }},
	enc={
	  {% for enc, result in dec.enc.items() %}
	    "{{ enc }}": Decoded(
                length={{ result.length | py_int_array }},
                length_raw={{ result.length_raw | py_int_array }},
                length_lines={{ result.length_lines | py_int_array }},
                lines={{ result.lines | py_int_array }},
        ),
      {% endfor %}
	}
    ),
  {% endfor %}
]

TEST_DATA_LIST = list(
    itertools.chain(*[[(v.data, i[0], i[1]) for i in v.enc.items()] for v in TEST_DATA]),
)

ENCODINGS = sorted(set(itertools.chain(*[v.enc.keys() for v in TEST_DATA])))


class SplitCase(NamedTuple):
    """A test case for the "split into lines" classes."""

    data: list[int]
    eol: dict[str, list[int]]


TEST_SPLIT = SplitCase(
    data={{ split.data | py_hex_array }},
    eol={
      {% for sep, lines in split.eol.items() %}
        "{{ sep | py_escape_separator }}": {{ lines | py_int_array }},
      {% endfor %}
    },
)
